<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
</head>

<body>
  <header>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item is-size-3 has-text-weight-bold has-text-warning-dark" href="/">
            The Tech Blog
          </a>

           <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>

        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item is-size-5 has-text-weight-bold">
              Home
            </a>
            {{#if logged_in}}
            <a href="/dashboard" class="navbar-item is-size-5 has-text-weight-bold">
                <strong>Dashboard</strong>
            </a>
            {{else}}
            <a href="/login" class="navbar-item is-size-5 has-text-weight-bold">
                <strong>Dashboard</strong>
            </a>
            {{/if}}
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                {{#if logged_in}}
                <a id="logout" class="button is-dark is-size-5 has-text-weight-bold">Logout</a>
                {{else}}
                 <a href="/login" class="button is-dark is-size-5 has-text-weight-bold">Login/SignUp</a>
                 {{/if}}
              </div>
            </div>
          </div>
        </div>
      </nav>
    
  </header>
  <br>
  <br>
  <main class="m-6">


  {{{body}}}
  
   
   </main>
    {{#if logged_in}}
    <footer class="is-align-items-center m-3">
     <a href="/post" class="button is-medium is-fullwidth is-dark has-text-weight-bold is-responsive">
      + New post
     </a>
    </footer>
    {{/if}}
  
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}  
    <script src="/js/main.js"></script>
</body>

</html>