<form class="box newpostform" id="post-form">
    <div class="field is-large">
      <label for="title" class="form-label">Post Title</label>
      <div class="control">
        <input
          id="title"
          name="title"
          class="input"
          type="text"
          placeholder="Post Title"
        />
      </div>
    </div>
  
    <div class="field">
      <label for="description" class="form-label">Content</label>
      <div class="control">
        <textarea
          id="description"
          name="description"
          class="textarea"
          type="text"
          placeholder="Content input"
        ></textarea>
      </div>
    </div>
  
    <button type="submit" class="button is-medium is-success">Submit</button>
  </form>

  <script src="../js/newpost.js"></script>