<form class="box" id="post-form">
    <div class="field is-large">
      <div class="control">
        <input
          id="title"
          name="title"
          class="input"
          type="text"
          placeholder="{{post.title}}"
        />
      </div>
    </div>
  
    <div class="field">
      <div class="control">
        <textarea
          id="description"
          name="description"
          class="textarea"
          type="text"
          placeholder="{{post.content}}"
        ></textarea>
      </div>
    </div>
    <button type="submit" class="button is-danger is-large">Delete</button>

    <button type="submit" class="button is-large">Update</button>
  </form>

<script src="../js/updatepost.js"></script>  
